<nav class="nav">
  <ul>
    <li  class="{{(activeNav == 'index') ? 'current': ''}}"><a href="/posts">首页</a></li>

    <li class="{{(activeNav == 'xwzj') ? 'current': ''}}"><a href='/posts/xwzj/'  rel='dropmenu2'>学无止境</a></li>

    <li class="{{(activeNav == 'qwzt') ? 'current': ''}}"><a href='/posts/qwzt/'  rel='dropmenu3'>趣味杂谈</a></li>

    <li class="{{(activeNav == 'zj') ? 'current': ''}}"><a href='/zj/'  rel='dropmenu4'>足迹</a></li>

    <li class="{{(activeNav == 'works') ? 'current': ''}}"><a href='/posts/works/'  rel='dropmenu5'>作品</a></li>

    <li class="{{(activeNav == 'aboutus') ? 'current': ''}}"><a href='/aboutus/' >关于我们</a></li>

    <li class="{{(activeNav == 'liuyan') ? 'current': ''}}"><a href='/liuyan/' >留言</a></li>

    <!--<li><a href="learn.html">学无止境</a></li>
    <li><a href="index.html">趣味杂谈</a></li>
    <li><a href="zuji.html">足迹</a></li>
    <li><a href="zuopin.html">作品</a></li>
    <li><a href="index.html">关于我们</a></li>
    <li><a href="index.html">留言</a></li>-->
  </ul>
</nav>
<!-- end -->