<div class="banner">
  <a href="#" class="a-img-ban" target="_self">
    <img class="img-ban" src=" /uploads/allimg/1-151220210P4.jpg " alt="一份关注一份分享">
  </a>
  <a href="#" class="a-img-ban" target="_self">
    <img class="img-ban" src=" /uploads/allimg/1-151220223140.jpg " alt="关注我们">
  </a>
  <a href="#" class="a-img-ban" target="_self">
    <img class="img-ban" src=" /uploads/allimg/1-16032Q30102.jpg " alt="不要轻言放弃一个程序员">
  </a>
  <a href="#" class="a-img-ban" target="_self">
    <img class="img-ban" src=" /uploads/allimg/1-151220230307.jpg " alt="我与前端那些事儿">
  </a>
  <ul>
    <li class="li-img"><img src="/uploads/1-151220210JL17.jpg" alt="一份关注一份分享"/></li>
    <li class="li-img"><img src="/uploads/allimg/1-151220223140.jpg" alt="关注我们"/></li>
    <li class="li-img"><img src="/uploads/1-160114162I22O.png" alt="不要轻言放弃一个程序员"/></li>
    <li class="li-img"><img src="/uploads/allimg/1-151220230307.jpg" alt="我与前端那些事儿"/></li>
  </ul>
</div>