{{include 'header'}}
<!-- 内容开始 -->
<section>
  <!-- 文章 -->
  <article>
    <div class="art-left detail-txt">
      <div class="curr-pos">
        当前位置：<a href='/posts'>主页</a> > <a href='/tm/aboutus/'>关于我们</a>
      </div>
      <div class="graf-box">
        <p>
          &nbsp;我是一个90后程序员，大学学的是生物技术专业，大学期间在w3cschool上学习了点前端相关的知识，由于种种原因毕业后没有直接从事前端开发工作而是去了一家制药公司上班，工作期间不忘初心，陆续学完了前端相关知识。</p>
        <p>
          转眼之间2年过去了，来到杭州，在一次机缘巧合之下，决定转行，并从事前端开发工作。</p>
        <p>
          如今我在杭州的一家公司做前端的开发工作，虽然每天朝九晚八，但是慢慢的也适应了这种快节奏的生活。业余时间看看博客，开源项目扩充自身的知识范围。</p>
        <p>
          虽然自己从事着前端开发的工作，但是过去这么长时间了还没有自己的一个博客，一直想做一个，但是由于这样那样的原因都停滞下来了，所以自己在平时的知识或者经验的积累都只能写在wiz笔记里保存在自己的电脑上，随着文件的增多，看起来非常不方便。</p>
        <p>
          基于以上原因，终于花了两周的时间搭建了这个博客，借助这个博客可以将自己平时所积累的分享出来，同时可以记录自己的成长之路，以此追忆自己在生活中、工作中所留下的足迹。由于一时间没有想到特别好的博客名，就暂时先用自己的名字作为博客名。</p>
        <p>
          &nbsp;</p>
        <h3>
          关于我</h3>
        <p style="text-indent:0">
          网名：似水→流年</p>
        <p style="text-indent:0">
          职业：前端程序员</p>
        <p style="text-indent:0">
          喜欢的书：《穆斯林的葬礼》《javascript高级程序设计3》《穷爸爸与富爸爸》</p>
        <p style="text-indent:0">
          喜欢的一句话：不患无位，患所以立，不患莫己知，求为可知也</p>
        <p style="text-indent:0">
          微信号：zhiyaobaike</p>
        <p style="text-indent:0">
          对前端感兴趣的朋友可以加我QQ：913401586 &nbsp; 也可以加群讨论：225670669</p>
      </div>
    </div>
    <aside  class="right-box">
      <form  name="formsearch" method= "post"  action="/search" >
        <div class="search-box">
          <input type="hidden" name="kwtype" value="0" />
          <input name="q" type="text" id="search-keyword"  placeholder="请输入搜索内容">
          <button type="submit" class="search-btn">搜索</button>
        </div>
      </form>
      <div class="art mt20">
        <h2 class="art-txt">
          <em class="iconfont c-f26868">&#xe601;</em>
          <span>关注我们</span>
        </h2>
        <div class="two-code">
          <img src="/img/qrcode_for_yujian.png" alt="扫一扫，关注我们哦">
          <p class="sao-txt">扫一扫，关注我们哦！</p>
        </div>
      </div>
    </aside>
  </article>
</section>
<!-- end -->
<footer>
  Design By 余健 <a href="http://www.miitbeian.gov.cn" target="_self"> 冀ICP备15007416号-1</a>
</footer>
<script src="/js/nav.js" type="text/javascript"></script>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?4a24e9fb4d76cb5d3b7124de90c58d46";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

<div id="hm_t_123"></div>
</body>
</html>