{{include 'header'}}
<link type="text/css" rel="stylesheet" href="http://static.duoshuo.com/styles/embed.default.css?79dc948b.css"/>
<!-- 内容开始 -->
<section>
  <!-- 文章 -->
  <article>
    <div class="art-left detail-txt">
      <div class="curr-pos">
        当前位置：<a href='/posts'>主页</a> > <a href='/posts/liuyan/'>留言</a>
      </div>
      <div class="ds-thread" data-thread-key="7"></div>
      <script type="text/javascript">
        var duoshuoQuery = {short_name: "ywomc"};
        (function () {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';
          ds.async = true;
          ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0]
          || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
      </script>
    </div>
    <aside class="right-box">
      {{include '/post/searchpost'}}
      <div class="art mt20">
        {{include '/post/careus'}}
      </div>
    </aside>
  </article>
</section>
<!-- end -->
{{include 'footer'}}