{{ include 'header'}}
<!-- 内容开始 -->
<section>
  <!-- 文章 -->
  <article>
    <div class="art-left">
      {{include '/post/allpost'}}
      <ul class="page">
        {{include 'post/paginpost'}}
      </ul>
    </div>
    <aside  class="right-box">
      {{include '/post/searchpost'}}
      <div class="art mt20">
        {{include '/post/sub_category'}}
      </div>
      <div class="art mt20">
        {{include '/post/newestpost'}}
      </div>
      <div class="art mt20">
        {{include '/post/hotpost'}}
      </div>
      <div class="art mt20">
        {{include '/post/hottag'}}
      </div>
      <div class="art mt20">
          {{include '/post/careus'}}
      </div>
    </aside>
  </article>
</section>
<!-- end -->
{{ include 'footer'}}